h1 {
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
}

p {
  margin: 0 auto;
}

ul{
  margin: 0 auto;
  padding-left: 0;
}

/* header classes */
.header-container {
  background-color: rgb(223, 226, 216);
  padding: 16px;
  box-shadow: 0px 2px 8px 0px gray;
}

.header-title {
  color: rgb(0, 0, 0);
}

.header-text {
  font-size: 16px;
}

/* add todo section classes */
.addTodo-container {
  margin-top: 8px;
  padding: 16px;
  background-color: rgb(223, 226, 216);
  box-shadow: 0px 2px 8px 0px gray;
}

.addTodo-title {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.addTodo-inputContainer {
  padding: 16px;
  display: flex;
}

.addTodo-input {
  width: 300px;
} 

/* todo list container */
.todoList-container {
  background-color: rgb(223, 226, 216);
  box-shadow: 0px 2px 8px 0px gray;
  margin-top: 8px;
  padding: 16px;
}

.todoList-ul {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todoList-title {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.todoList-listItem {
  list-style: none;
  padding: 8px;
  background-color: rgb(244, 245, 241);
  box-shadow: 0px 2px 8px 0px gray;
  border-radius: 8px;
}